<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/githubPoc.app</string>
		<key>CFBundleIdentifier</key>
		<string>org.reactjs.native.example.githubPoc</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>SigningIdentity</key>
		<string>Apple Development: marciovinicius.s@thoughtworks.com (73LZY65Q95)</string>
		<key>Team</key>
		<string>UFPAYAXUYX</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2020-10-02T17:55:49Z</date>
	<key>Name</key>
	<string>githubPoc</string>
	<key>SchemeName</key>
	<string>githubPoc</string>
</dict>
</plist>
